<ion-view view-title="Details">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat= "beer in beers | filter: {id: id2}"  class="item item-text-wrap">
        <div class="text-center">
          <strong>{{beer.name}}</strong><br>
          ABV: <strong>{{beer.abv}}%</strong><br>
          Short Name: <strong>{{beer.style.shortName}}</strong><br>
          ID: {{beer.id}}<br>
        <img ng-src={{beer.labels.medium}}> <br>
        <p>
          {{beer.style.description}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
