<ion-view view-title="Details">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="beer in beers | filter:{id:sid}" class="item item-text-wrap">
        <div class="text-center">
          <strong>{{beer.name}}</strong><br>
          ABV: <strong>{{beer.abv}}%</strong><br>
          Year: <strong>{{beer.year}}</strong><br>
        <img ng-src={{beer.labels.medium}}> <br>
        <p>
          {{beer.description}}
        </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
